<div class="row">
    <div class="col-md-12">
        <h3>SQL - Tutorial Query Sample</h3>
        <hr>
        <table mdbTable hover="true">
            <thead>
            <tr>
                <th *ngFor="let head of headElements" scope="col"><span class="text-primary"><i>{{head}}</i></span></th>
            </tr>
            </thead>
            <tbody>
            <tr mdbTableCol *ngFor="let sql of sQLQueries">
                <th scope="row"><code>{{sql.title}}</code></th>
                <td><i>{{sql.description}}</i></td>
                <td><strong>{{sql.query}}</strong></td>
                <td class="text-right">
                    <ng-template #longContent let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">{{sql.title}}</h4>
                            <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div *ngFor="let item of data">
                                <div *ngIf="item.row.length > 0">
                                    <div class="overflow-auto">
                                        <table mdbTable hover="true">
                                            <thead>
                                            <tr>
                                                <th *ngFor="let key of item.row[0] | keys2"
                                                    scope="col">{{key | uppercase}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr mdbTableCol *ngFor="let c of item.row">
                                                <td *ngFor="let key of c | keys2">{{c[key]}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="item.mess" #alert
                                     class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <h4 class="alert-heading">Warning!</h4>
                                    <p>{{item.mess}}</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close
                            </button>
                        </div>
                    </ng-template>
                    <button type="button" mdbBtn color="success" rounded="true"
                            (click)="openXl(longContent, sql.query)" mdbWavesEffect>View
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
