<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="category">
            <h2><span jhiTranslate="learnSqlApp.category.detail.title">Category ID -</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.nameCategory}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.nameCategory">Name Category</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.title}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.title">Title</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.nameTableData}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.nameTableData">Name Table Data</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.description}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.description">Description</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5" [ngStyle]="{'padding-left': '35px'}">
                        <mdb-checkbox [disabled]="true" [checked]="category.isKeyword">Is Keyword</mdb-checkbox>
                    </div>
                    <div class="col-5">
                        <dt><span jhiTranslate="learnSqlApp.category.categoryType">Category Type</span></dt>
                        <dd>
                            <div *ngIf="category.categoryTypeId">
                                <a [routerLink]="['/category-type', category.categoryTypeId, 'view']">{{category.categoryTypeId}}</a>
                            </div>
                        </dd>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.createdDate}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.createdDate">Created Date</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.createdBy}}" type="number" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.createdBy">Created By</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.updatedDate}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.updatedDate">Updated Date</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{category.updatedBy}}" type="number" class="form-control">
                            <label jhiTranslate="learnSqlApp.category.updatedBy">Updated By</label>
                        </div>
                    </div>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
