<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-exercises-heading" jhiTranslate="learnSqlApp.exercises.home.createOrEditLabel">Create or edit a
                Exercises</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!exercises.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="exercises.id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercises.nameExercises"
                                   for="field_nameExercises">Name Exercises</label>
                            <input mdbInput type="text" class="form-control" name="nameExercises"
                                   id="field_nameExercises"
                                   [(ngModel)]="exercises.nameExercises" required/>
                            <div
                                [hidden]="!(editForm.controls.nameExercises?.dirty && editForm.controls.nameExercises?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.nameExercises?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercises.question"
                                   for="field_question">Question</label>
                            <input mdbInput type="text" class="form-control" name="question"
                                   id="field_question"
                                   [(ngModel)]="exercises.question" required/>
                            <div [hidden]="!(editForm.controls.question?.dirty && editForm.controls.question?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.question?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercises.score"
                                   for="field_score">Score</label>
                            <input mdbInput type="text" class="form-control" name="score"
                                   id="field_score"
                                   [(ngModel)]="exercises.score" required/>
                            <div [hidden]="!(editForm.controls.score?.dirty && editForm.controls.score?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.score?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.score?.errors?.number"
                                       jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercises.timeOnMinutes"
                                   for="field_timeOnMinutes">Time On Minutes</label>
                            <input mdbInput type="text" class="form-control" name="timeOnMinutes"
                                   id="field_timeOnMinutes"
                                   [(ngModel)]="exercises.timeOnMinutes" required/>
                            <div
                                [hidden]="!(editForm.controls.timeOnMinutes?.dirty && editForm.controls.timeOnMinutes?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.timeOnMinutes?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.timeOnMinutes?.errors?.number"
                                       jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                            <label class="" jhiTranslate="learnSqlApp.exercises.category"
                                   for="field_category">Category</label>
                            <select class="browser-default custom-select" id="field_category" name="category"
                                    [(ngModel)]="exercises.categoryId" required>
                                <option selected [ngValue]="null"></option>
                                <option [ngValue]="categoryOption.id"
                                        *ngFor="let categoryOption of categories; trackBy: trackCategoryById">
                                    {{categoryOption.nameCategory}}
                                </option>
                            </select>
                    </div>
                </div>

<!--                <div class="row">-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label jhiTranslate="learnSqlApp.exercises.createdDate"-->
<!--                                   for="field_createdDate">Created Date</label>-->
<!--                            <input mdbInput id="field_createdDate" type="date"-->
<!--                                   class="form-control" name="createdDate"-->
<!--                                   [(ngModel)]="createdDate" placeholder="YYYY-MM-DD"-->
<!--                                   required/>-->
<!--                            <div-->
<!--                                [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdDate?.errors?.required"-->
<!--                                       jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal"-->
<!--                                       jhiTranslate="entity.validation.ZonedDateTimelocal">-->
<!--                                    This field should be a date and time.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label class="" jhiTranslate="learnSqlApp.exercises.createdBy"-->
<!--                                   for="field_createdBy">Created By</label>-->
<!--                            <input mdbInput type="number" class="form-control" name="createdBy" id="field_createdBy"-->
<!--                                   [(ngModel)]="exercises.createdBy" required/>-->
<!--                            <div-->
<!--                                [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdBy?.errors?.required"-->
<!--                                       jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdBy?.errors?.number"-->
<!--                                       jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label jhiTranslate="learnSqlApp.exercises.updatedDate"-->
<!--                                   for="field_updatedDate">Updated Date</label>-->
<!--                            <input mdbInput id="field_updatedDate" type="date" class="form-control" name="updatedDate"-->
<!--                                   [(ngModel)]="updatedDate" placeholder="YYYY-MM-DD"-->
<!--                                   required/>-->
<!--                            <div-->
<!--                                [hidden]="!(editForm.controls.updatedDate?.dirty && editForm.controls.updatedDate?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedDate?.errors?.required"-->
<!--                                       jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedDate?.errors?.ZonedDateTimelocal"-->
<!--                                       jhiTranslate="entity.validation.ZonedDateTimelocal">-->
<!--                                    This field should be a date and time.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label class="" jhiTranslate="learnSqlApp.exercises.updatedBy"-->
<!--                                   for="field_updatedBy">Updated By</label>-->
<!--                            <input mdbInput type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
<!--                                   [(ngModel)]="exercises.updatedBy" required/>-->
<!--                            <div-->
<!--                                [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedBy?.errors?.required"-->
<!--                                       jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedBy?.errors?.number"-->
<!--                                       jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
