<!-- Footer -->
<footer class="page-footer font-small white">

    <div style="background-color: #21d192;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0"><span
                        jhiTranslate="global.footer.title">THE WORLD'S LARGEST WEB DEVELOPER SITE</span></h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold"><span jhiTranslate="global.footer.col1">Thang Long University</span>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-justify"><span jhiTranslate="global.footer.ndcol1">Learn SQL Online Web Tutorials is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
                </span></p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold"><span jhiTranslate="global.footer.aboutus">About Us</span></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text"
                       mdbTooltip="Uses simple code explanations with simple illustrations of how to use it"
                       placement="right"><span jhiTranslate="global.footer.el">Easy Learning</span></a>
                </p>
                <p>
                    <a class="dark-grey-text"
                       mdbTooltip="By using our online editor, Try it Yourself, you can edit examples and execute computer code experimentally, to see what works and what does not, before implementing it"
                       placement="right"><span jhiTranslate="global.footer.tiy">Try It Yourself</span></a>
                </p>
                <p>
                    <a class="dark-grey-text"
                       mdbTooltip="SQL Online is, and will always be, a completely free developers resource"
                       placement="right"><span jhiTranslate="global.footer.free">It is Free</span></a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold"><span jhiTranslate="global.footer.contact">Contact</span>
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-justify">
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon>
                    <span jhiTranslate="global.footer.address">Nghiêm Xuân Yêm - Đại Kim - Hoàng Mai - Hà Nội</span>
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>
                    xuanhatlu@gmail.com
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>
                    +84 972 794 074
                </p>
                <p>
                    <mdb-icon fas icon="print" class="mr-3"></mdb-icon>
                    +84 868 686 686
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center dark-grey-text py-3 white">© 2019 Copyright:
        <a class="dark-grey-text" href="https://www.facebook.com/xuanha.tlu" target="_blank">XUANHATLU</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
