<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-shipper-heading" jhiTranslate="learnSqlApp.shipper.home.createOrEditLabel">Create or edit a Shipper</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!shipper.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="shipper.id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.shipper.shipperName"
                                   for="field_shipperName">Shipper Name</label>
                            <input mdbInput type="text" class="form-control" name="shipperName"
                                   id="field_shipperName"
                                   [(ngModel)]="shipper.shipperName" required/>
                            <div [hidden]="!(editForm.controls.shipperName?.dirty && editForm.controls.shipperName?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.shipperName?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.shipper.phone"
                                   for="field_phone">Phone</label>
                            <input mdbInput type="text" class="form-control" name="phone"
                                   id="field_phone"
                                   [(ngModel)]="shipper.phone" required/>
                            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
