<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="categoryType">
            <h2><span jhiTranslate="learnSqlApp.categoryType.detail.title">Category Type</span> {{categoryType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <div class="md-form">
                    <input disabled mdbInput placeholder="{{categoryType.nameCategoryType}}" type="text" class="form-control">
                    <label jhiTranslate="learnSqlApp.categoryType.nameCategoryType">Name Category Type</label>
                </div>

                <div class="md-form">
                    <textarea disabled mdbInput placeholder="{{categoryType.description}}" type="text" class="md-textarea form-control"></textarea>
                    <label jhiTranslate="learnSqlApp.categoryType.description">Description</label>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{categoryType.createdDate}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.categoryType.createdDate">Created Date</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{categoryType.createdBy}}" type="number" class="form-control">
                            <label jhiTranslate="learnSqlApp.categoryType.createdBy">Created By</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{categoryType.updatedDate}}" type="text" class="form-control">
                            <label jhiTranslate="learnSqlApp.categoryType.updatedDate">Updated Date</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <input disabled mdbInput placeholder="{{categoryType.updatedBy}}" type="number" class="form-control">
                            <label jhiTranslate="learnSqlApp.categoryType.updatedBy">Updated By</label>
                        </div>
                    </div>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category-type', categoryType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
