<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-category-type-heading" jhiTranslate="learnSqlApp.categoryType.home.createOrEditLabel">Create or
                edit a Category Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!categoryType.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="categoryType.id" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.categoryType.nameCategoryType"
                                   for="field_nameCategoryType">Name Category Type</label>
                            <input mdbInput type="text" class="form-control" name="nameCategoryType"
                                   id="field_nameCategoryType"
                                   [(ngModel)]="categoryType.nameCategoryType" required/>
                            <div
                                [hidden]="!(editForm.controls.nameCategoryType?.dirty && editForm.controls.nameCategoryType?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.nameCategoryType?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.categoryType.description"
                                   for="field_description">Description</label>
                            <textarea mdbInput type="text" class="md-textarea form-control" name="description" id="field_description"
                                      [(ngModel)]="categoryType.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.categoryType.createdDate"
                                   for="field_createdDate">Created Date</label>
                            <input mdbInput id="field_createdDate" type="date" class="form-control"
                                   name="createdDate"
                                   [(ngModel)]="createdDate" placeholder="YYYY-MM-DD"
                                   required/>
                            <div
                                [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdDate?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal"
                                       jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="form-control-label" jhiTranslate="learnSqlApp.categoryType.createdBy"
                                   for="field_createdBy">Created By</label>
                            <input mdbInput type="number" class="form-control" name="createdBy" id="field_createdBy"
                                   [(ngModel)]="categoryType.createdBy" required/>
                            <div
                                [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdBy?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdBy?.errors?.number"
                                       jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.categoryType.updatedDate"
                                   for="field_updatedDate">Updated Date</label>
                            <input mdbInput id="field_updatedDate" type="date" class="form-control"
                                   name="updatedDate"
                                   [(ngModel)]="updatedDate" placeholder="YYYY-MM-DD"
                                   required/>
                            <div
                                [hidden]="!(editForm.controls.updatedDate?.dirty && editForm.controls.updatedDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedDate?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedDate?.errors?.ZonedDateTimelocal"
                                       jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.categoryType.updatedBy"
                                   for="field_updatedBy">Updated By</label>
                            <input mdbInput type="number" class="form-control" name="updatedBy" id="field_updatedBy"
                                   [(ngModel)]="categoryType.updatedBy" required/>
                            <div
                                [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedBy?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedBy?.errors?.number"
                                       jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
