<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-exercises-answer-heading" jhiTranslate="learnSqlApp.exercisesAnswer.home.createOrEditLabel">Create or edit a Exercises Answer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!exercisesAnswer.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="exercisesAnswer.id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.exercisesAnswer.result" for="field_result">Result</label>
                            <input mdbInput type="text" class="form-control" id="field_result" name="result"
                                   [(ngModel)]="exercisesAnswer.result" required/>
                            <div [hidden]="!(editForm.controls.result?.dirty && editForm.controls.result?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.result?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <label class="" jhiTranslate="learnSqlApp.exercisesAnswer.isCorrect"
                               for="field_isCorrect">Is Correct</label>
                        <input type="checkbox" class="md-form" name="isCorrect"
                               id="field_isCorrect"
                               [(ngModel)]="exercisesAnswer.isCorrect"/>
                    </div>
                    <div class="col-5">
                        <label class="" jhiTranslate="learnSqlApp.exercisesAnswer.exercises" for="field_exercises">Exercises</label>
                        <select class="browser-default custom-select" id="field_exercises" name="exercises"
                                [(ngModel)]="exercisesAnswer.exercisesId" required>
                            <option selected [ngValue]="null"></option>
                            <option [ngValue]="exercisesOption.id"
                                    *ngFor="let exercisesOption of exercises; trackBy: trackExercisesById">
                                {{exercisesOption.id}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.exercisesAnswer.createdDate"
                                   for="field_createdDate">Created Date</label>
                            <input mdbInput id="field_createdDate" type="date"
                                   class="form-control" name="createdDate"
                                   [(ngModel)]="createdDate" placeholder="YYYY-MM-DD"
                                   required/>
                            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercisesAnswer.createdBy"
                                   for="field_createdBy">Created By</label>
                            <input mdbInput type="number" class="form-control" name="createdBy" id="field_createdBy"
                                   [(ngModel)]="exercisesAnswer.createdBy" required/>
                            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdBy?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.createdBy?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.exercisesAnswer.updatedDate"
                                   for="field_updatedDate">Updated Date</label>
                            <input mdbInput id="field_updatedDate" type="date" class="form-control" name="updatedDate"
                                   [(ngModel)]="updatedDate" placeholder="YYYY-MM-DD"
                                   required/>
                            <div [hidden]="!(editForm.controls.updatedDate?.dirty && editForm.controls.updatedDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedDate?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.exercisesAnswer.updatedBy"
                                   for="field_updatedBy">Updated By</label>
                            <input mdbInput type="number" class="form-control" name="updatedBy" id="field_updatedBy"
                                   [(ngModel)]="exercisesAnswer.updatedBy" required/>
                            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedBy?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.updatedBy?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
