<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employees-heading" jhiTranslate="learnSqlApp.employees.home.createOrEditLabel">Create or edit a Employees</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!employees.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="employees.id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.employees.lastName"
                                   for="field_lastName">Last Name</label>
                            <input mdbInput type="text" class="form-control" name="lastName"
                                   id="field_lastName"
                                   [(ngModel)]="employees.lastName" required/>
                            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.employees.firstName"
                                   for="field_firstName">First Name</label>
                            <input mdbInput type="text" class="form-control" name="firstName"
                                   id="field_firstName"
                                   [(ngModel)]="employees.firstName" required/>
                            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label jhiTranslate="learnSqlApp.employees.birthDate"
                                   for="field_birthDate">Birth Date</label>
                            <input mdbInput id="field_birthDate" type="date" class="form-control" name="birthDate"
                                   [(ngModel)]="birthDate" placeholder="YYYY-MM-DD"
                                   required/>
                            <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.birthDate?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.birthDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                    This field should be a date and time.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.employees.notes"
                                   for="field_notes">Notes</label>
                            <input mdbInput type="text" class="form-control" name="notes"
                                   id="field_notes"
                                   [(ngModel)]="employees.notes" required/>
                            <div [hidden]="!(editForm.controls.notes?.dirty && editForm.controls.notes?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.notes?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
