/* ==========================================================================
Main page styles
========================================================================== */

//.hipster {
//    display: inline-block;
//    width: 347px;
//    height: 497px;
//    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
//    background-size: contain;
//}

// Class
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}

.palegreenColor {
    background-color: palegreen;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: blue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
        background-size: contain;
    }
}
