<div class="row" *ngIf="idContent">
    <div class="col-md-12">
        <p class="h1">{{getTitle(idContent)}}</p>
        <br>
        <div class="clearfix">
            <span class="float-left">
                <button (click)="previous()" type="button" mdbBtn color="success" mdbWavesEffect>
                    <mdb-icon fas icon="chevron-left"></mdb-icon>
                    Previous
                </button>
            </span>
            <span class="float-right">
                <button (click)="next()" type="button" mdbBtn color="success" mdbWavesEffect>
                    Next
                    <mdb-icon fas icon="chevron-right"></mdb-icon>
                </button>
            </span>
        </div>
        <hr *ngIf="idContent">
        <div *ngFor="let content of contents">
            <!--Paragraph-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 1">
                <blockquote class="blockquote bq-primary">
                    <p class="bq-title">{{ content.title }}</p>
                    <p style="list-style: none;" innerHTML="{{ content.content | substring }}"></p>
                </blockquote>
                <hr>
            </div>

            <!--Note-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 2">
                <blockquote class="blockquote bq-warning my-4">
                    <p class="py-1 mb-0 text-warning"><strong>{{ content.title }}</strong></p>
                    <p><em>{{ content.content }}</em></p>
                </blockquote>
                <hr>
            </div>

            <!--Syntax-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 3">
                <mdb-card>
                    <mdb-card-header class="palegreenColor">{{ content.title }}</mdb-card-header>
                    <mdb-card-body>
                        <blockquote class="blockquote bq-success">
                            <p innerHTML="{{ content.content | highlight: arrayHighLight}}"></p>
                        </blockquote>
                    </mdb-card-body>
                </mdb-card>
                <hr>
            </div>

            <!--Tip-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 5">
                <blockquote class="blockquote bq-warning my-4">
                    <p class="py-1 mb-0 text-warning"><a rel="nofollow">{{ content.title }}</a></p>
                    <p><em>{{ content.content }}</em></p>
                </blockquote>
                <hr>
            </div>

            <!--Example-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 6">
                <mdb-card>
                    <mdb-card-header class="palegreenColor">{{content.title}}</mdb-card-header>
                    <mdb-card-body>
                        <mdb-card-title>
                            <blockquote class="blockquote bq-success">
                                <p innerHTML="{{ content.content | highlight: arrayHighLight}}"></p>
                            </blockquote>
                        </mdb-card-title>
                        <button type="button" mdbBtn color="success" rounded="true"
                                (click)="openXl(longContent, content.content)" mdbWavesEffect>Result
                        </button>
                        <ng-template #longContent let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">{{content.title}}</h4>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div *ngFor="let item of datas">
                                    <div *ngIf="item.row.length > 0">
                                        <div class="overflow-auto">
                                            <table mdbTable hover="true">
                                                <thead>
                                                <tr>
                                                    <th *ngFor="let key of item.row[0] | keys3"
                                                        scope="col">{{key | uppercase}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr mdbTableCol *ngFor="let c of item.row">
                                                    <td *ngFor="let key of c | keys3">{{c[key]}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div *ngIf="item.mess" #alert
                                         class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <h4 class="alert-heading">Warning!</h4>
                                        <p>{{item.mess}}</p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close
                                </button>
                            </div>
                        </ng-template>
                    </mdb-card-body>
                </mdb-card>
                <hr>
            </div>

            <!--References-->
            <div *ngIf="content.categoryId === idContent && content.typeContentId === 7">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="(content.content) | safe" allowfullscreen></iframe>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
