<div>
    <h2 id="page-heading">
        <span jhiTranslate="learnSqlApp.sQLQuery.home.title">SQL Queries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sql-query"
                [routerLink]="['/sql-query/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="learnSqlApp.sQLQuery.home.createLabel">
            Create new SQL Query
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
<!--    <div class="row">-->
<!--&lt;!&ndash;        <div class="col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;            <form name="searchForm" class="form-inline">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group w-100 mt-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"&ndash;&gt;-->
<!--&lt;!&ndash;                           name="currentSearch" placeholder="{{ 'learnSqlApp.sQLQuery.home.search' | translate }}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon [icon]="'search'"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon [icon]="'trash-alt'"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->

<!--            <form class="form-inline md-form form-sm active-cyan-2">-->
<!--                <input class="form-control form-control-sm mr-3 w-75"-->
<!--                       type="text"-->
<!--                       [(ngModel)]="currentSearch"-->
<!--                       name="currentSearch"-->
<!--                       placeholder="{{ 'learnSqlApp.sQLQuery.home.search' | translate }}"-->
<!--                       mdbInput>-->
<!--                <button class="input-group-append btn btn-info"-->
<!--                        (click)="search(currentSearch)">-->
<!--                    <fa-icon [icon]="'search'"></fa-icon>-->
<!--                </button>-->
<!--                <button class="input-group-append btn btn-danger"-->
<!--                        (click)="clear()"-->
<!--                        *ngIf="currentSearch">-->
<!--                    <fa-icon [icon]="'trash-alt'"></fa-icon>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
                <label for="search">Search</label>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sQLQueries">
        <table mdbTable hover="true" #tableEl="mdbTable">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="learnSqlApp.sQLQuery.title">Title</span></th>
                <th><span jhiTranslate="learnSqlApp.sQLQuery.nameUrl">Name Url</span></th>
                <th><span jhiTranslate="learnSqlApp.sQLQuery.query">Query</span></th>
                <th><span jhiTranslate="learnSqlApp.sQLQuery.description">Description</span></th>
<!--                <th><span jhiTranslate="learnSqlApp.sQLQuery.createdDate">Created Date</span></th>-->
<!--                <th><span jhiTranslate="learnSqlApp.sQLQuery.createdBy">Created By</span></th>-->
<!--                <th><span jhiTranslate="learnSqlApp.sQLQuery.updatedDate">Updated Date</span></th>-->
<!--                <th><span jhiTranslate="learnSqlApp.sQLQuery.updatedBy">Updated By</span></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr mdbTableCol *ngFor="let sQLQuery of sQLQueries ;trackBy: trackId; let i = index">
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a [routerLink]="['/sql-query', sQLQuery.id, 'view' ]">{{sQLQuery.id}}</a></td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{sQLQuery.title}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{sQLQuery.nameUrl}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{sQLQuery.query}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{sQLQuery.description}}</td>
<!--                <td>{{sQLQuery.createdDate | date:'medium'}}</td>-->
<!--                <td>{{sQLQuery.createdBy}}</td>-->
<!--                <td>{{sQLQuery.updatedDate | date:'medium'}}</td>-->
<!--                <td>{{sQLQuery.updatedBy}}</td>-->
                <td class="text-right" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sql-query', sQLQuery.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sql-query', sQLQuery.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sql-query', { outlets: { popup: sQLQuery.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="sQLQueries"></mdb-table-pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
