<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sql-query-heading" jhiTranslate="learnSqlApp.sQLQuery.home.createOrEditLabel">Create or edit a SQL Query</h2>
            <div>
                <div class="row">
                    <div class="col-5">
                        <div class="md-form" [hidden]="!sQLQuery.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input mdbInput type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="sQLQuery.id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.title"
                                   for="field_title">Title</label>
                            <input mdbInput type="text" class="form-control" name="title"
                                   id="field_title"
                                   [(ngModel)]="sQLQuery.title" required/>
                            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.nameUrl"
                                   for="field_nameUrl">Name Url</label>
                            <input mdbInput type="text" class="form-control" name="nameUrl"
                                   id="field_nameUrl"
                                   [(ngModel)]="sQLQuery.nameUrl" required/>
                            <div [hidden]="!(editForm.controls.nameUrl?.dirty && editForm.controls.nameUrl?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.nameUrl?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.query"
                                   for="field_query">Query</label>
                            <input mdbInput type="text" class="form-control" name="query"
                                   id="field_query"
                                   [(ngModel)]="sQLQuery.query" required/>
                            <div [hidden]="!(editForm.controls.query?.dirty && editForm.controls.query?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.query?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="md-form">
                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.description"
                                   for="field_description">Description</label>
                            <input mdbInput type="text" class="form-control" name="description"
                                   id="field_description"
                                   [(ngModel)]="sQLQuery.description"/>
                        </div>
                    </div>
                </div>

<!--                <div class="row">-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label jhiTranslate="learnSqlApp.sQLQuery.createdDate"-->
<!--                                   for="field_createdDate">Created Date</label>-->
<!--                            <input mdbInput id="field_createdDate" type="date"-->
<!--                                   class="form-control" name="createdDate"-->
<!--                                   [(ngModel)]="createdDate" placeholder="YYYY-MM-DD"-->
<!--                                   required/>-->
<!--                            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">-->
<!--                                    This field should be a date and time.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.createdBy"-->
<!--                                   for="field_createdBy">Created By</label>-->
<!--                            <input mdbInput type="number" class="form-control" name="createdBy" id="field_createdBy"-->
<!--                                   [(ngModel)]="sQLQuery.createdBy" required/>-->
<!--                            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdBy?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.createdBy?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label jhiTranslate="learnSqlApp.sQLQuery.updatedDate"-->
<!--                                   for="field_updatedDate">Updated Date</label>-->
<!--                            <input mdbInput id="field_updatedDate" type="date" class="form-control" name="updatedDate"-->
<!--                                   [(ngModel)]="updatedDate" placeholder="YYYY-MM-DD"-->
<!--                                   required/>-->
<!--                            <div [hidden]="!(editForm.controls.updatedDate?.dirty && editForm.controls.updatedDate?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedDate?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">-->
<!--                                    This field should be a date and time.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-5">-->
<!--                        <div class="md-form">-->
<!--                            <label class="" jhiTranslate="learnSqlApp.sQLQuery.updatedBy"-->
<!--                                   for="field_updatedBy">Updated By</label>-->
<!--                            <input mdbInput type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
<!--                                   [(ngModel)]="sQLQuery.updatedBy" required/>-->
<!--                            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedBy?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       [hidden]="!editForm.controls.updatedBy?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
